body {
  font-family: "Poppins", sans-serif;
  background-color: black;
}

body p,
a {
  font-family: "Lora", serif;
  line-height: 1.6;
}

.center {
  text-align: center;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 60px;
}
.grid-2-col {
  grid-template-columns: 1fr 1fr;
}

.grid-3-col-first-small {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 30px;
  grid-gap: 30px;
}
.img-responsive {
  max-width: 100%;
}

.card {
  background-color: rgb(221, 221, 221, 0.4);
  padding: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  width: 100%;
  height: auto;
}

.card h4,
.card h5,
.card p {
  margin: 10px;
}

.card-header.grid {
  grid-gap: 0;
}

.embed {
  aspect-ratio: 1 / 1;
  width: 100%;
}

.card .button {
  margin-top: auto;
  text-align: center;
  padding: 10px;
  background: black;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/senja.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  color: #f0f8ff;
  text-align: center;
}

header h1 {
  font-size: 96px;
  margin: 0;
  letter-spacing: 4px;
}

header h2 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 7px;
  margin: 0;
}

header h3 {
  font-size: 32px;
  margin: 0;
  letter-spacing: 5px;
  font-weight: 400;
}

header a {
  background-color: #f0f8ff;
  text-decoration: none;
  color: #000000;
  padding: 10px 20px;
  margin-top: 32px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

main {
  background-color: #f0f8ff;
  padding: 0;
  margin: 0px auto;
}

main h2 {
  text-transform: uppercase;
  opacity: 0.2;
  margin: 0;
  font-size: 22px;
  letter-spacing: 2px;
}

main h3 {
  margin: 0;
  font-weight: 500;
  font-size: 30px;
}
main h4 {
  margin: 30px 0;
  font-size: 20px;
  font-weight: 700;
}

main h5 {
  margin: 0;
}

main p {
  margin-top: 20px;
}

main .secondary {
  padding: 30px;
}

section.primary {
  padding: 30px;
}

section.secondary {
  background-color: #f8f8f8;
}

section.secondary h4,
h5 {
}

section.secondary a {
  color: #f0f8ff;
  text-decoration: none;
}

footer {
  background-image: linear-gradient(rgba(3, 3, 31, 0.8), rgba(3, 3, 9, 0.8)),
    url(../images/senja_footer.jpeg);
  color: #f0f8ff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 100px;
}

footer h3,
p,
li {
  opacity: 0.6;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer a {
  color: #f0f8ff;
  opacity: 0.7;
  font-size: 16px;
}

@media (max-width: 840px) {
  header {
    padding: 100px 0;
  }
  header h1 {
    font-size: 43px;
  }
  header h2 {
    font-size: 10px;
  }
  header h3 {
    font-size: 12px;
  }
  header p {
    font-size: 10px;
  }

  header a {
    font-size: 12px;
  }

  footer {
    padding: 30px;
  }

  .grid {
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }

  main .secondary {
    padding: 0;
  }

  .card-header img {
    display: none;
  }
}
